<!DOCTYPE html>
<html lang="zh-TW" data-scale="large">
	<head>
		<meta charset="utf-8">
		<!-- import Tocas UI form CloudFlare CDN -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.0.3/tocas.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.0.3/tocas.min.js"></script>
		<!-- import Noto Sans TC from Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet"/>
		<!-- other configurations -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="https://replit.com/public/icons/favicon-196.png" sizes="196x196" type="image/png"/>
		<title>Admin Center</title>
	</head>
	<body>
		<!-- main container -->
		<div class="ts-center ts-container is-very-narrow">
			<div class="ts-box" style="overflow-y: auto;">
				<!-- header -->
				<div class="ts-content is-dense">
					<div class="ts-header is-start-icon">
						<span class="ts-icon is-gear-icon"></span>
						<span class="ts-text is-large is-heavy">SchoolNotify Admin Center</span>
					</div>
				</div>
				<!-- buttons -->
				<div class="ts-content is-tertiary is-tertiary">
					<button class="ts-button is-outlined is-fluid" onclick="go('/db')">Database</button>
					<div class="ts-space"></div>
					<button class="ts-button is-outlined is-fluid" onclick="go('/db/edit')">Edit Database</button>
					<div class="ts-space"></div>
					<button class="ts-button is-outlined is-fluid" onclick="go()">Home Page</button>
				</div>
			</div>
		</div>
	</body>
	<script>
		function go(path = ""){
			window.open(`https://sn.nekogc.com${path}`, "_self");
		}
	</script>
	<style>
		:root {
		  color-scheme: dark;
		}
	</style>
</html>