<!DOCTYPE html>
<html lang="zh-TW" data-scale="large">
	<head>
		<meta charset="utf-8">
		<!-- import Tocas UI form CloudFlare CDN -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.0.3/tocas.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.0.3/tocas.min.js"></script>
		<!-- import Noto Sans TC from Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet"/>
		<!-- other configurations -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="https://replit.com/public/icons/favicon-196.png" sizes="196x196" type="image/png"/>
		<title>Database</title>
	</head>
	<body>
		<!-- main container -->
		<div class="ts-container is-very-narrow">
			<div class="ts-content is-center-aligned" id="key_place">
				<div></div>
			</div>
		</div>
	</body>
	<script>
		function insertAfter(newNode, existingNode) {
    	existingNode.parentNode.insertBefore(newNode, existingNode.nextSibling);
		}
		function onload(){
			let mydata = {};
			fetch("https://sn.nekogc.com/api/db", {
					headers : {
						"Content-Type" : "application/json",
						"Accept" : "application/json"
					}
				})
				.then(response => response.json())
				.then((data) => {
					mydata = data;
				})
				.catch((error) => {
					window.alert("Something went wrong when fetching the data");
					window.alert(error);
				})
			if(Object.keys(mydata).length != 0){
				//the div which keys are appended to
				const key_place = document.getElementById("key_place");
				for(const key in mydata){
					let space = document.createElement("div");
					space.classList.add("ts-space");
					space.classList.add("is-small")
					//div for keys
					let item = document.createElement("div");
					//text content for the div
					const text = document.createTextNode(`${key} : ${mydata[key]}`);
					item.appendChild(text);
					item.classList.add("ts-segment");
					item.classList.add("is-secondary");
					insertAfter(item, key_place.lastElementChild);
					insertAfter(space, key_place.lastElementChild);
				}
			}
			else{
				window.alert("Database is empty");
			}
		}
		window.onload = onload();
	</script>
	<style>
		:root {
		  color-scheme: dark;
		}
	</style>
</html>