<!DOCTYPE html>
<html lang="en" data-scale="large">
	<head>
		<meta charset="utf-8">
		<!-- import Tocas UI form CloudFlare CDN -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.1.0/tocas.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.1.0/tocas.min.js" integrity="sha384-OLBgp1GsljhM2TJ+sbHjaiH9txEUvgdDTAzHv2P24donTt6/529l+9Ua0vFImLlb" crossorigin="anonymous"></script>
		<!-- import Noto Sans TC from Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet"/>
		<!-- other configurations -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="/api/icon.png" sizes="32x32" type="image/png"/>
		<title>Database</title>
	</head>
	<body onload="onload()">
		<!-- loading icon -->
		<div class="ts-modal is-visible" id="loading_screen">
			<div class="ts-loading is-large"></div>
		</div>
		<!-- main container -->
		<div class="ts-container is-very-narrow">
			<div class="ts-content is-center-aligned" id="key_place">
				<div></div>
			</div>
		</div>
	</body>
	<script>
		function insertAfter(newNode, existingNode){
			existingNode.parentNode.insertBefore(newNode, existingNode.nextSibling);
		}
		function onload(){
			fetch("/admin/api/db")
				.then(response => response.json())
				.then(data => {
					const key_place = document.getElementById("key_place");
					for(const key in data){
						//space between keys
						let space = document.createElement("div");
						space.classList.add("ts-space");
						space.classList.add("is-small");
						//div for keys
						let item = document.createElement("div");
						//text content for the div
						const text = document.createTextNode(`${key} : ${data[key]}`);
						item.appendChild(text);
						item.classList.add("ts-segment");
						item.classList.add("is-secondary");
						//insert the key followed by a space
						insertAfter(item, key_place.lastElementChild);
						insertAfter(space, key_place.lastElementChild);
					}
					document.getElementById("loading_screen").classList.remove("is-visible");
				})
				.catch((error) => {
					window.alert("Something went wrong when fetching the data");
					window.alert(error);
				})
		}
	</script>
</html>
