<!DOCTYPE html>
<html lang="en" data-scale="large">
	<head>
		<meta charset="utf-8">
		<!-- import Tocas UI form CloudFlare CDN -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.0.4/tocas.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.0.4/tocas.min.js"></script>
		<!-- import Noto Sans TC from Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet"/>
		<!-- other configurations -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="https://replit.com/public/icons/favicon-196.png" sizes="196x196" type="image/png"/>
		<title>Database Modification</title>
	</head>
	<body>
		<!-- main container -->
		<div class="ts-center ts-container">
			<!-- pop window -->
			<div class="ts-modal" id="pop_window" style="overflow-y: auto;">
				<div class="content">
					<!-- header -->
					<div class="ts-content is-dense">
						<div class="ts-row">
							<!-- title -->
							<div class="column is-fluid">
								<div class="ts-header is-start-icon">
									<span class="ts-icon" id="pop_icon"></span>
									<span class="ts-text">{{pop_title}}</span>
								</div>
							</div>
							<!-- close button -->
							<div class="column">
								<div class="ts-center">
									<button class="ts-close" onclick="pop_msg_close()"></button>
								</div>
							</div>
						</div>
					</div>
					<div class="ts-divider"></div>
					<!-- content -->
					<div class="ts-content">{{pop_msg}}</div>
				</div>
			</div>
			<!-- form -->
			<div class="ts-box" style="overflow-y: auto;">
				<!-- highlighted title -->
				<div class="ts-content is-tertiary is-dense">
					<div class="ts-text is-large ts-center is-heavy">Add/Edit/Delete A Key</div>
				</div>
				<!-- content -->
				<div class="ts-content">
					<!-- form -->
					<form action="/db/edit" method="post" onsubmit="form_submit()">
						<div class="ts-wrap is-vertical">
							<!-- key name field -->
							<div class="ts-text is-label is-medium">Key Name</div>
							<div class="ts-input is-fluid is-medium is-solid">
								<input type="text" name="key" required>
							</div>
							<!-- key value field -->
							<div class="ts-text is-label is-medium">Key Value</div>
							<div class="ts-input is-fluid is-medium is-solid" id="value_input_div">
								<input type="text" name="value" onchange="on_value_change()" id="value_input" required>
							</div>
							<!-- method selection -->
							<div class="ts-text is-label is-medium">Method</div>
							<div class="ts-content is-dense is-horizontally-padded is-rounded is-secondary">
								<div class="ts-row is-evenly-divided">
									<span class="column">
										<label class="ts-radio">
											<input type="radio" name="method" value="edit" onclick="value_enable(true);" required>
											<span class="ts-text">Edit</span>
										</label>
									</span>
									<span class="column">
										<label class="ts-radio">
											<input type="radio" name="method" value="add" onclick="value_enable(true);" required>
											<span class="ts-text">Add</span>
										</label>
									</span>
									<span class="column">
										<label class="ts-radio">
											<input type="radio" name="method" value="delete" onclick="value_enable(false);" required>
											<span class="ts-text">Delete</span>
										</label>
									</span>
								</div>
							</div>
							<!-- submit button -->
							<button class="ts-button is-fluid is-start-icon" id="submit_btn">
								<span class="ts-icon is-check-icon"></span>
								<span class="ts-text is-medium is-heavy">Submit</span>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
	<script>
		const value_input = document.getElementById("value_input");
		var value_memory = "";
		function onload(){
			if("{{pop_title}}" != "" || "{{pop_msg}}" != ""){
				document.getElementById("pop_window").classList.add("is-visible");
			}
			const pop_icon = document.getElementById("pop_icon");
			switch("{{pop_type}}"){
				case "ok": pop_icon.classList.add("is-circle-check-icon"); break;
				default: pop_icon.classList.add("is-triangle-exclamation-icon"); break;
			}
		}
		function pop_msg_close() {
		  document.getElementById("pop_window").classList.remove("is-visible");
		}
		function form_submit(){
			const submit_btn = document.getElementById("submit_btn");
			submit_btn.classList.add("is-loading");
			submit_btn.disabled = true;
		}
		function on_value_change(){
			value_memory = value_input.value;
		}
		function value_enable(is_enabled){
			const value_input_div = document.getElementById("value_input_div");
			value_input_div.disabled = !is_enabled;
			if(!is_enabled){
				value_input_div.classList.add("is-disabled");
				value_input.value = "";
				value_input.removeAttribute("required");
			}
			else{
				value_input_div.classList.remove("is-disabled");
				value_input.value = value_memory;
				value_input.setAttribute("required", "");
			}
		}
		window.onload = onload();
	</script>
</html>