<!-- Created with html5-editor.net -->

<h1 style="text-align: center;">School Notify</h1>
<h3 style="text-align: center;">A&nbsp;web crawler which grabs announcements from school website.</h3>
<hr />
<h4 style="text-align: center;">Why School Notify?</h4>
<p style="text-align: center;">School Notify is a web crawler, it will send emails containing school announcements so that you don't have to do it yourself.&nbsp;</p>
<h4 style="text-align: center;">How can I use it?</h4>
<p style="text-align: center;">There's no way to subscribe to this service online for now, please contact me&nbsp;or clone this project and host it yourself.</p>
<h4 style="text-align: center;">Important thing you need to know</h4>
<p style="text-align: center;">School Notify project is build for a specific school only. If you don't have any idea why you're here, we're sorry that this place may not be able to help you.</p>
<hr />
<p style="text-align: center;">[<a title="GitHub" href="https://github.com/nekogravitycat/SchoolNotify" target="_blank" rel="noopener">GitHub</a>]</p>

<style>
  body {
  background-color: black;
  color: white;
  }
</style>