<!DOCTYPE html>
<html lang="en" data-scale="large">
	<head>
		<meta charset="utf-8">
		<!-- import Tocas UI form CloudFlare CDN -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.1.0/tocas.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.1.0/tocas.min.js" integrity="sha384-OLBgp1GsljhM2TJ+sbHjaiH9txEUvgdDTAzHv2P24donTt6/529l+9Ua0vFImLlb" crossorigin="anonymous"></script>
		<!-- import Noto Sans TC from Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet"/>
		<!-- other configurations -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="/api/icon.png" sizes="32x32" type="image/png"/>
		<title>Admin Login</title>
	</head>
	<body onload="onload()">
		<!-- main container -->
		<div class="ts-center ts-container">
			<!-- pop window -->
			<div class="ts-modal" id="pop_window" style="overflow-y: auto;">
				<div class="content">
					<!-- header -->
					<div class="ts-content is-dense">
						<div class="ts-row">
							<!-- title -->
							<div class="column is-fluid">
								<div class="ts-header is-start-icon">
									<span class="ts-icon is-triangle-exclamation-icon"></span>
									<span class="ts-text">Invalid Token</span>
								</div>
							</div>
							<!-- close button -->
							<div class="column">
								<div class="ts-center">
									<button class="ts-close" onclick="pop_msg_close()"></button>
								</div>
							</div>
						</div>
					</div>
					<div class="ts-divider"></div>
					<!-- content -->
					<div class="ts-content">The token is invalid, please try again</div>
				</div>
			</div>
			<!-- form -->
			<div class="ts-box" style="overflow-y: auto;">
				<!-- highlighted title -->
				<div class="ts-content is-tertiary is-dense">
					<div class="ts-text is-large ts-center is-heavy">Admin Login</div>
				</div>
				<!-- content -->
				<div class="ts-content">
					<!-- form -->
					<form action="/login" method="post" onsubmit="form_submit()">
						<div class="ts-wrap is-vertical">
							<!-- token field -->
							<label for="passwd" class="ts-text is-label is-medium">Secret Token</label>
							<div class="ts-input is-fluid is-medium is-solid is-start-icon">
								<span class="ts-icon is-lock-icon"></span>
								<input type="password" name="token" id="passwd" required>
							</div>
							<!-- submit button -->
							<button class="ts-button is-fluid is-start-icon" id="submit_btn">
								<span class="ts-icon is-check-icon"></span>
								<span class="ts-text is-medium is-heavy">Login</span>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
	<script>
		const pop_window = document.getElementById("pop_window")
		function onload(){
			const url = new URL(location.href);
			const wrong = url.searchParams.get("w");
			if("{{wrong}}" !== "" || wrong === "1"){
				pop_window.classList.add("is-visible");
			}
		}
		function pop_msg_close() {
			pop_window.classList.remove("is-visible");
		}
		function form_submit(){
			const submit_btn = document.getElementById("submit_btn")
			submit_btn.classList.add("is-loading");
			submit_btn.disabled = true;
		}
	</script>
</html>
