<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="https://replit.com/public/icons/favicon-196.png" sizes="196x196" type="image/png"/>
		<meta charset="utf-8">
		<title>{{title}}</title>
	</head>
	<body>
		<h1 align="center" id="content">{{msg}}</h1>
	</body>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
		* {
			font-family: 'Noto Sans TC', sans-serif;
			font-size: min(4vw, 30px);
		}
		h1 {
			font-size: min(4.5vw, 35px);
		}
		body {
			width: 75%;
			max-width: 800px;
			margin: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
	</style>
</html>