<!DOCTYPE html>
<html lang="zh-TW" data-scale="large">
	<head>
		<meta charset="utf-8">
		<!-- import Tocas UI form CloudFlare CDN -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/4.0.0-beta.3/tocas.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/4.0.0-beta.3/tocas.min.js"></script>
		<!-- import Noto Sans TC from Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet" />
		<!-- other configurations -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="https://replit.com/public/icons/favicon-196.png" sizes="196x196" type="image/png"/>
		<title>SchoolNotify Subscription</title>
	</head>
	<body>
		<!-- main container -->
		<div class="ts-container is-fluid ts-center">
			<!-- highlighted box -->
			<div class="ts-box">
				<!-- title -->
				<div class="ts-content is-primary is-dense">
					<div class="ts-text is-large ts-center is-heavy">
						訂閱 SchoolNotify 服務
					</div>
				</div>
				<!-- content -->
				<div class="ts-content">
					<!-- form -->
					<form action="https://sn.nekogc.com/sub" method="get">
						<div class="ts-wrap is-vertical">
							<!-- email field -->
							<div class="ts-text is-label is-medium">請填寫您的電子郵件</div>
							<div class="ts-input is-fluid is-medium is-underlined is-start-icon">
								<span class="ts-icon is-envelope-icon"></span>
								<input type="email" name="email" class="email_text" placeholder="address@example.com">
							</div>
							<!-- school field -->
							<div class="ts-text is-label is-medium">請選擇學校</div>
							<div class="ts-select is-fluid is-medium is-underlined">
								<select name="school" class="school_select">
									<option value="hchs">新竹高中</option>
									<option value="hgsh">新竹女中</option>
									<option value="cpshs">竹北高中</option>
									<option value="hccvs">新竹高商</option>
									<option value="whsh">文華高中</option>
									<option value="tcivs">台中高工</option>
									<option value="dali">興大附中</option>
								</select>	
							</div>
							<!-- submit button -->
							<button class="ts-button is-fluid is-start-icon">
								<span class="ts-icon is-check-icon"></span>
								<div class="ts-text is-medium is-heavy">訂閱</div>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>