<!DOCTYPE html>
<html lang="zh-TW" data-scale="large">
	<head>
		<meta charset="utf-8">
		<!-- import Tocas UI form CloudFlare CDN -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/4.0.2/tocas.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/4.0.2/tocas.min.js"></script>
		<!-- import Noto Sans TC from Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet" />
		<!-- other configurations -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="https://replit.com/public/icons/favicon-196.png" sizes="196x196" type="image/png"/>
		<title>訂閱 SchoolNotify</title>
	</head>
	<body>
		<!-- main container -->
		<div class="ts-container is-fluid ts-center">
			<!-- pop window -->
			<div class="ts-modal" id="pop_window" style="overflow-y: auto;">
				<div class="content">
					<div class="ts-content is-dense">
						<div class="ts-row">
							<div class="column is-fluid">
								<div class="ts-header is-start-icon">
									<span class="ts-icon" id="pop_icon"></span>
									<span class="ts-text">{{pop_title}}</span>
								</div>
							</div>
							<div class="column">
								<button class="ts-close" onclick="pop_msg_close()"></button>
							</div>
						</div>
					</div>
					<div class="ts-divider"></div>
					<div class="ts-content">{{pop_msg}}</div>
				</div>
			</div>
			<!-- form -->
			<div class="ts-box" style="overflow-y: auto;">
				<!-- highlighted title -->
				<div class="ts-content is-primary is-dense">
					<div class="ts-text is-large ts-center is-heavy">訂閱 SchoolNotify 服務</div>
				</div>
				<!-- content -->
				<div class="ts-content">
					<!-- form -->
					<form action="https://sn.nekogc.com" method="post" onsubmit="form_submit()">
						<div class="ts-wrap is-vertical">
							<!-- email field -->
							<div class="ts-text is-label is-medium">請填寫您的電子郵件</div>
							<div class="ts-input is-fluid is-medium is-underlined is-start-icon">
								<span class="ts-icon is-envelope-icon"></span>
								<input type="email" name="email" class="email_text" placeholder="address@example.com" id="email_input" required>
							</div>
							<!-- school field -->
							<div class="ts-text is-label is-medium">請選擇學校</div>
							<div class="ts-select is-fluid is-medium is-underlined">
								<select name="school" class="school_select" id="school_select" required>
									<option value="" disabled selected hidden>請選擇學校</option>
									<option value="hchs">新竹高中</option>
									<option value="hgsh">新竹女中</option>
									<option value="cpshs">竹北高中</option>
									<option value="hccvs">新竹高商</option>
									<option value="whsh">文華高中</option>
									<option value="tcivs">台中高工</option>
									<option value="dali">興大附中</option>
								</select>	
							</div>
							<!-- submit button -->
							<button class="ts-button is-fluid is-start-icon" id="submit_btn">
								<span class="ts-icon is-check-icon"></span>
								<span class="ts-text is-medium is-heavy" id="submit_btn_text">訂閱</span>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
	<script>
		function onload(){
			if("{{pop_title}}" != "" || "{{pop_msg}}" != ""){
				document.getElementById("pop_window").classList.add("is-visible");
			}
			const pop_icon = document.getElementById("pop_icon")
			if("{{pop_type}}" == "ok"){
				pop_icon.classList.add("is-circle-check-icon");
			}
			else if("{{pop_type}}" == "error"){
				pop_icon.classList.add("is-triangle-exclamation-icon");
				
			}
			else{
				pop_icon.remove();
			}
			if("{{email}}" != ""){
				document.getElementById("email_input").value = "{{email}}";
			}
			if("{{school}}" != ""){
				document.getElementById("school_select").value = "{{school}}";
			}
			if("{{again}}" != ""){
				document.getElementById("submit_btn_text").innerText = "再次訂閱";
			}
		}
		function pop_msg_close() {
		  document.getElementById("pop_window").classList.remove("is-visible");
		}
		function form_submit(){
			const submit_btn = document.getElementById("submit_btn")
			submit_btn.classList.add("is-loading");
			submit_btn.disabled = true;
		}
		window.onload = onload();
	</script>
	<style>
		:root {
		  color-scheme: dark;
		}
	</style>
</html>