<!DOCTYPE html>
<html lang="en" data-scale="large">
	<head>
		<meta charset="utf-8">
		<!-- import Tocas UI form CloudFlare CDN -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.0.4/tocas.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.0.4/tocas.min.js" integrity="sha384-OLBgp1GsljhM2TJ+sbHjaiH9txEUvgdDTAzHv2P24donTt6/529l+9Ua0vFImLlb" crossorigin="anonymous"></script>
		<!-- import Noto Sans TC from Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet"/>
		<!-- other configurations -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="/api/icon.png" sizes="32x32" type="image/png"/>
		<title>School Supporter</title>
	</head>
	<body onload="onload()">
		<!-- main container -->
		<div class="ts-center ts-container">
			<!-- pop window -->
			<div class="ts-modal" id="pop_window" style="overflow-y: auto;">
				<div class="content">
					<!-- header -->
					<div class="ts-content is-dense">
						<div class="ts-row">
							<!-- title -->
							<div class="column is-fluid">
								<div class="ts-header is-start-icon">
									<span class="ts-icon" id="pop_icon"></span>
									<span class="ts-text">{{pop_title}}</span>
								</div>
							</div>
							<!-- close button -->
							<div class="column">
								<div class="ts-center">
									<button class="ts-close" onclick="pop_msg_close()"></button>
								</div>
							</div>
						</div>
					</div>
					<div class="ts-divider"></div>
					<!-- content -->
					<div class="ts-content">{{pop_msg}}</div>
				</div>
			</div>
			<!-- form -->
			<div class="ts-box" style="overflow-y: auto;">
				<!-- highlighted title -->
				<div class="ts-content is-tertiary is-dense">
					<div class="ts-text is-large ts-center is-heavy">Support A School</div>
				</div>
				<!-- content -->
				<div class="ts-content">
					<!-- form -->
					<form action="/spr" method="post" onsubmit="form_submit()">
						<div class="ts-grid is-2-columns is-stackable">
							<div class="column">
								<div class="ts-wrap is-vertical">
									<!-- id field -->
									<div class="ts-text is-label is-medium">School ID</div>
									<div class="ts-input is-fluid is-medium is-solid">
										<input type="text" name="id" required>
									</div>
									<!-- url field -->
									<div class="ts-text is-label is-medium">School URL</div>
									<div class="ts-input is-fluid is-medium is-solid">
										<input type="text" name="url" required>
									</div>
									<!-- uid field -->
									<div class="ts-text is-label is-medium">School UID</div>
									<div class="ts-input is-fluid is-medium is-solid">
										<input type="text" name="uid" required>
									</div>
								</div>
							</div>
							<div class="column">
								<div class="ts-wrap is-vertical">
									<!-- school name field-->
									<div class="ts-text is-label is-medium">School Name</div>
									<div class="ts-input is-fluid is-medium is-solid">
										<input type="text" name="name" required>
									</div>
									<!-- latest date field -->
									<div class="ts-text is-label is-medium">Latest Date</div>
									<div class="ts-input is-fluid is-medium is-solid">
										<input type="date" name="latest_date" required>
									</div>
									<!-- latest id field -->
									<div class="ts-text is-label is-medium">Latest ID (Optional)</div>
									<div class="ts-input is-fluid is-medium is-solid">
										<input type="text" name="latest_id">
									</div>
								</div>
							</div>
						</div>
						<div class="ts-space"></div>
						<!-- submit button -->
						<button class="ts-button is-fluid is-start-icon is-small" id="submit_btn">
							<span class="ts-icon is-check-icon"></span>
							<span class="ts-text is-heavy">Submit</span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</body>
	<script>
		function onload(){
			if("{{pop_title}}" != "" || "{{pop_msg}}" != ""){
				document.getElementById("pop_window").classList.add("is-visible");
			}
			const pop_icon = document.getElementById("pop_icon");
			switch("{{pop_type}}"){
				case "ok": pop_icon.classList.add("is-circle-check-icon"); break;
				default: pop_icon.classList.add("is-triangle-exclamation-icon"); break;
			}
		}
		function pop_msg_close() {
			document.getElementById("pop_window").classList.remove("is-visible");
		}
		function form_submit(){
			const submit_btn = document.getElementById("submit_btn");
			submit_btn.classList.add("is-loading");
			submit_btn.disabled = true;
		}
	</script>
</html>